<div id="scrollbar">
    <div class="container-fluid">

            
        <div id="two-column-menu">
        </div>
        <ul class="navbar-nav" id="navbar-nav">
            <li class="menu-title">
                
                <span href="/index" data-key="t-menu">Dashboard</span>
                   
                    
                        
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="/admin" >
                    <i class="ri-honour-line"></i> <span>Admin</span>
                </a>
                
            </li> <!-- end Dashboard Menu -->
            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarArticles" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarArticles">
                    <i class="ri-apps-2-line"></i> <span data-key="sidebarArticles">Articles</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarArticles">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/ajouter_article" class="nav-link" data-key="Ajouter-Article" >Ajouter Article</a>
                        </li>

                        <li class="nav-item">
                            <a href="/transfere_article" class="nav-link" data-key="Ajouter-Article" >Transfere Article</a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_article" class="nav-link" data-key="Details-Article" >Details Article</a>
                        </li>
                         
                        <li class="nav-item">
                            <a href="/editer_article" class="nav-link" data-key="Editer-Article"> Editer Article </a>
                        </li>
                        <li class="nav-item">
                            <a href="/ajouter_consommation" class="nav-link" >Ajouter Consommation</a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_consommation" class="nav-link" >Details Consommations</a>
                        </li>
                         
                        
                       
                    </ul>
                </div>
            </li> <!-- end Dashboard Menu -->
            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarChaineProto" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarChaineProto">
                    <i class="ri-body-scan-fill"></i> <span data-key="sidebarChaineProto">Chaine Proto</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarChaineProto">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/demande_consommation" class="nav-link" >Demande Consommation</a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_consommation" class="nav-link" >Details Consommations</a>
                        </li>
                         
                        
                        <li class="nav-item">
                            <a href="/machine" class="nav-link" >Machines</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" data-key="Editer-Pieces">Opérateurs </a>
                        </li>
                        
                       
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarConsomationInterne" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarArticles">
                    <i class="ri-article-line"></i> <span data-key="sidebarConsomationInterne">Consomation Interne</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarConsomationInterne">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/ajouter_consomation_article" class="nav-link"><i class="ri-article-line"></i>Ajouter Consomation Interne</a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_consomation_coupe_interne" class="nav-link"><i class="ri-scissors-cut-line"></i>Consomation Coupe Interne</a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_consomation_chaine_interne" class="nav-link"><i class="ri-t-shirt-2-line"></i>Consomation Chaine Interne</a>
                        </li>
                         
                        <li class="nav-item">
                            <a href="/details_consomation_chaine_proto" class="nav-link"><i class="ri-artboard-2-line"></i> Consomation Chaine Proto </a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_consomation_comptage" class="nav-link"><i class="ri-inbox-unarchive-line"></i> Consomation Comptage</a>
                        </li>
                        
                       
                    </ul>
                </div>
            </li> 


            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarComptage" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarComptage">
                    <i class="ri-archive-2-line"></i> <span data-key="sidebarComptage">Comptage</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarComptage">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/demande_consommation" class="nav-link" >Demande Consommation</a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_consommation" class="nav-link" >Details Consommations</a>
                        </li>
                         
                         
                        
                        
                       
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarLavage" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLavage">
                    <i class="ri-t-shirt-air-line"></i> <span data-key="sidebarLavage">Lavage</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarLavage">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/demande_consommation" class="nav-link" >Demande Consommation</a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_consommation" class="nav-link" >Details Consommations</a>
                        </li>
                         
                        <li class="nav-item">
                            <a href="/machine" class="nav-link" >Machines</a>
                        </li>
                        
                        
                       
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarChaineInterne" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarChaineInterne">
                    <i class="ri-t-shirt-2-line"></i> <span data-key="sidebarChaineInterne">Chaine Interne</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarChaineInterne">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/demande_consommation" class="nav-link" >Demande Consommation</a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_consommation" class="nav-link" >Details Consommations</a>
                        </li>
                         
                        
                        
                        <li class="nav-item">
                            <a href="/machine" class="nav-link" >Machines</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" data-key="Editer-Pieces">Opérateurs </a>
                        </li>
                        
                       
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarPieces" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPieces">
                    <i class="ri-tools-fill"></i> <span data-key="sidebarPieces">Piéces Maintenance</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarPieces">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/ajouter_piece" class="nav-link" data-key="Ajouter-Pieces" >Ajouter Piéces</a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_piece" class="nav-link" data-key="Details-Pieces" >Details Piéces</a>
                        </li>

                        <li class="nav-item">
                            <a href="/piece_consommee" class="nav-link" >Pieces Consommées</a>
                        </li>
                         
                        <li class="nav-item">
                            <a href="/editer_piece" class="nav-link" data-key="Editer-Pieces">Editer Piéces </a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" data-key="Editer-Pieces">Devis Piéces </a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" data-key="Editer-Pieces">Pieces en Panne </a>
                        </li>
                        <li class="nav-item">
                            <a href="/machine" class="nav-link" >Machines</a>
                        </li>
                        
                       
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarCoupeInterne" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCoupeInterne">
                    <i class="ri-scissors-cut-fill"></i> <span data-key="sidebarCoupeInterne">Coupe Interne</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarCoupeInterne">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/demande_consommation" class="nav-link" >Demande Consommation</a>
                        </li>

                        <li class="nav-item">
                            <a href="/details_consommation" class="nav-link" data-key="Details-Article" >Details Consommation</a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="/machine" class="nav-link" >Machines</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" data-key="Editer-Pieces">Opérateurs </a>
                        </li>
                        
                       
                    </ul>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarUsines" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarUsines">
                    <i class="ri-building-4-fill"></i> <span data-key="sidebarUsines">Usines</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarUsines">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/ajouter_usine" class="nav-link" data-key="Ajouter-Usine"> Ajouter Usine </a>
                        </li>
                        <li class="nav-item">
                            <a href="/editer_usine" class="nav-link" data-key="Editer-Usine"> Editer Usine </a>
                        </li>
                        
                       
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarFournisseurs" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarFournisseurs">
                    <i class="ri-file-list-3-line"></i> <span data-key="sidebarFournisseurs">Fournisseurs</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarFournisseurs">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/ajouter_fournisseur" class="nav-link" data-key="Ajouter-Fournisseur"> Ajouter Fournisseur </a>
                        </li>
                        <li class="nav-item">
                            <a href="/editer_fournisseur" class="nav-link" data-key="Editer-Fournisseur"> Editer Fournisseur </a>
                        </li>
                        
                       
                    </ul>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarUsers" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarUsers">
                    <i class="ri-account-circle-line"></i> <span data-key="sidebarUsers">Users</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarUsers">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/ajouter_user" class="nav-link" data-key="Ajouter-User"> Ajouter User </a>
                        </li>
                        <li class="nav-item">
                            <a href="/editer_user" class="nav-link" data-key="Editer-User"> Editer User </a>
                        </li>
                        
                       
                    </ul>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarAchatsVentes" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAchatsVentes">
                    <i class="ri-coins-fill"></i> <span data-key="sidebarAchatsVentes">Achats Ventes</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarAchatsVentes">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/achats" class="nav-link" data-key="Ajouter-User"> Achats </a>
                        </li>
                        <li class="nav-item">
                            <a href="/ventes" class="nav-link" data-key="Editer-User"> Ventes </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="/ajouter_demande_achat" class="nav-link" data-key="Ajouter-User"> Ajouter Demande d'achat </a>
                        </li>
                        <li class="nav-item">
                            <a href="/confirmer_demande_achat" class="nav-link" data-key="Editer-User"> Confirmer Demande d'achat </a>
                        </li>
                        <li class="nav-item">
                            <a href="/confirmer_reception_achat" class="nav-link" data-key="Editer-User"> Confirmer Reception achat </a>
                        </li>
                        <li class="nav-item">
                            <a href="/ajouter_demande_vente" class="nav-link" data-key="Editer-User">Ajouter Demande vente </a>
                        </li>
                        <li class="nav-item">
                            <a href="/confirmer_demande_vente" class="nav-link" data-key="Ajouter-User">  Confirmer Demande vente </a>
                        </li>
                        <li class="nav-item">
                            <a href="/confirmer_expedition_vente" class="nav-link" data-key="Editer-User"> Confirmer l'Expédition vente </a>
                        </li>
                        
                       
                    </ul>
                </div>
            </li>

           

            <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-components">Pages</span></li>

            

            <li class="nav-item">
                <a class="nav-link " href="/charts">
                    <i class="ri-pie-chart-line"></i> <span>Charts</span>
                </a>
                
            </li>

            
            <li class="nav-item">
                <a class="nav-link" href="/maps">
                    <i class="ri-map-pin-line"></i> <span>Maps</span>
                </a>
                
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/messages">
                    <i class="ri-chat-3-fill"></i> <span>Chat</span>
                </a>
                
            </li>

            <li class="nav-item">
                
                <a href="{{ url_for('logout') }}" class="nav-link"  style="padding: 10px; margin: 10px;"><i class="ri-close-circle-line"></i>  Logout</a>
                
            </li>
           

        </ul>
    </div>
    <!-- Sidebar -->
</div>
