<!-- Container for the Export button and the table -->
<div class="d-flex justify-content-end mb-2">
    <div class="btn-group">
        <button id="btnGroupVerticalDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Exporter
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
            <a class="dropdown-item" href="#"><i class=" ri-file-excel-line"></i> Exporter en Excel</a>
            <a class="dropdown-item" href="#"><i class=" ri-file-pdf-line"></i>Exporter en PDF</a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table align-middle mb-0">
        <thead class="table-light">
            <tr>
                
                <th scope="col">Code Article</th>
                <th scope="col">Libelle Article</th>
                <th scope="col">Prix Vente</th>
                <th scope="col">Assignation</th>
                <th scope="col">Quantité</th>
                <th scope="col">Vers</th>
                <th scope="col">Date </th>
            </tr>
        </thead>
        <tbody>
            {% for vente in ventes %}
            <tr>
                
                <td><a href="" class="fw-semibold">{{ vente.code_article }}</a></td>
                <td>{{ vente.libelle_article }}</td>
                <td>{{ vente.prix_vente }}</td>
                <td>{{ vente.assignation }}</td>
                <td><a href="" class="fw-semibold">{{ vente.quantite }}</a></td>
                <td>{{ vente.vers }}</td>
                <td>{{ vente.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="table-light">
            <tr>
                <td colspan="3">Prix Total</td>
                <td>{{ prix_vente_totale }}</td>
            </tr>
            <tr>
                <td colspan="5">Quantité Total</td>
                <td>{{ quantite_vente_totale }}</td>
            </tr>

        </tfoot>
    </table>
</div>
